<section id="galleryBlock">
  <article>
    <h2>LogIn Profile</h2>
    {{#each error}}
      <p class="error">{{text}}</p>
    {{/each}}
    <form action="/auth/login" method="POST">

      <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      <div class="form-group">
        <button>LogIn</button>
      </div>
    </form>
  </article>
</section>